<%= form_for @people do |form| %>
  <% if @people.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@people.errors.count, 'error') %>
      Prohibited
        this person from being saved:
      </h2>

      <ul>
        <%= @people.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
      <% end %>

    <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </p>

    <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
    </p>


    <p>
        <%= form.label :title %><br>
        <%= form.collection_select :organisation, Organisation.all, :id, :title %>


    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>
